.App {
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  box-shadow: 1px 1px 8px 3px rgb(233,231,231);
  border-radius: 10px;
}



input{
  width: 70px;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

button{
  padding: 11px 30px;
  border: none;
  background-color: blueviolet;
  color: aquamarine;
  font-size: 18px;
  border-radius: 3px 5px 5px 0;
  cursor: pointer;
  outline: none;
}

li{
  font-size: 20px;
}
